* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    background-color: #E8E8E8;
}
#body_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}
header {
    position: fixed;
}
.h2-Light {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.07em;
    color: #1d343e;
}
.h2-Dark {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
}
.h3-Light {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #1D343E;
}
.h3-Dark {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}
.subtitle-1 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.0015em;
    color: #1D343E;
}
.subtitle-2 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.0015em;
    color: #1D343E;
}
.subtitle-3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.25px;
    color: #FFFFFF;
    margin: 0px;
}
.body_1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #454545;
}
.body_1-Dark {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}
.body_2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.0025em;
    color: #454545;
}
.body_2-mobile {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.0025em;
    color: #454545;
}
.caption {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.004em;
    color: #454545;
}
.enlaceTxt {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.004em;
    color: #C19C00;
    text-decoration-line: underline;
}
.contenedorTitulo {
    width: 80%;
    margin: 0px 0px 72px 0px;
}
.contenedorTitulo_dark {
    display: flex;
    justify-content: end;
}
.contenedor-h1 {
    width: fit-content;
    position: relative;
}
.contenedor-h1__div {
    background-color: #dbb100;
    height: 35%;
    width: 60%;
    position: absolute;
    left: 0px;
    bottom: 4px;
}
.contenedor-h1__div_dark {
    right: 0px;
    left: auto;
}
.contenedor-h1__h1 {
    width: fit-content;
    height: fit-content;
    margin: 0px;
    position: relative;
    z-index: 0;
}
.btnStroke_Light {
    background-color: transparent;
    border: #c19c00 solid 3px;
    padding: 9px 13px 9px 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #c19c00;
    cursor: pointer;
    &:hover {
        background-color: #dbb100;
        border: #dbb100 solid 3px;
        color: white;
        transition: all 150ms ease;
    }
    &:focus {
        background-color: #705a00;
        border: #705a00 solid 4px;
        color: white;
        transition: all 150ms ease;
    }
}
.btnPrimario_Light {
    background-color: #c19c00;
    width: 152px;
    border: none;
    padding: 9px 13px 9px 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
    &:hover {
        background-color: #dbb100;
        color: white;
        transition: all 150ms ease;
    }
    &:focus {
        background-color: #705a00;
        color: white;
        transition: all 150ms ease;
    }
}
.btnText {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #C19C00;
    display: flex;
    align-items: center;
    &:hover {
        color: #DBB100;
    }
    &:focus {
        color: #C19C00;
    }
}
.btnText_Icon {
    margin-left: 8px;
    filter: invert(51%) sepia(89%) saturate(956%) hue-rotate(19deg) brightness(97%) contrast(101%);
}
.btnText:hover img {
    filter: invert(54%) sepia(99%) saturate(691%) hue-rotate(14deg) brightness(103%) contrast(101%);
}

.btnText:focus img {
    filter: invert(51%) sepia(89%) saturate(956%) hue-rotate(19deg) brightness(97%) contrast(101%);
}
.btn_scrollDown {
    background-color: transparent;
    border: 0px;
    &:hover {
        transform: translateY(-2px);
        transition: all 150ms linear;
    }
}
.header__nav__div {
    height: 32px;
}
.lbl_Menu {
    width: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;
    display: none;
}
.lbl_Menu #top,
#medio,
#bottom {
    position: absolute;
    content: '';
    background-color: #C19C00;
    width: 32px;
    height: 4px;
    transition: all 500ms ease-out;
}
#btn_Menu {
    display: none;
}
#top {
    top: 0px;
}
#medio {
    top: 12px;
}
#bottom {
    top: 24px;
}
#btn_Menu:checked~.lbl_Menu #top {
    transform: rotate(45deg);
    top: 12px;
    transition: 500ms;
}
#btn_Menu:checked~.lbl_Menu #medio {
    opacity: 0;
    transition: 500ms;
}
#btn_Menu:checked~.lbl_Menu #bottom {
    transform: rotate(-45deg);
    top: 12px;
    transition: 500ms;
}
header {
    background-color: #FFFFFF;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(29, 52, 62, 0.16);
}
.header__nav {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;
    margin: 0px 136px 0px 136px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.header__nav__div {
    display: none;
}
.header__nav_ul {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.header__nav_ul__li {
    margin-right: 16px;
}
.header__nav_ul__li__a {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.25px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #1D343E;
    &:hover {
        color: #C19C00;
        transition: all 200ms ease;
    }
}
.seleccionado {
    color: #C19C00;
    border-bottom: solid 3px #C19C00;
    cursor: default;
}
.header__nav_ul__li-Btn {
    margin-left: 16px;
}
footer {
    background-color: #FFFFFF;
    width: 100%;
    padding: 88px 0px 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.footer__div {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 80px 0px;
    background-color: #FFFFFF;
}
.footer__div__img {
    width: 166px;
    height: 144px;
}
.footer__p {
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #969696;
    margin: 0px;
}
.footer__caption {
    margin: 0px 0px 16px 0px;
}
.footer__nav {
    display: flex;
}
.footer__ul {
    padding: 0px;
    margin: 0px;
}
.columna__2 {
    margin: 0px 0px 0px 24px;
}
.btn_redes {
    background-color: transparent;
    border: 0px;
    margin: 8px 24px 0px 0px;
}
.footer__enlace:hover {
    color: #C19C00;
}
.sectionBanner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 96px 0px 96px 0px;
}
.sectionBanner__h1 {
    width: 70%;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    color: #FFFFFF;
    margin: 0px;
}
.contenedorSeccion {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contenedorSeccionDark {
    width: 100%;
    background-color: #1D343E;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.marginSeccion {
    margin: 0px 0px 96px 0px;
}
.form__group {
    position: relative;
    padding: 20px 0px 0px 0px;
    width: 100%;
    height: 48px;
    background-color: rgba(129, 147, 155, 10%);
    margin: 0px 0px 24px 0px;
}
.form__field {
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid transparent;
    outline: 0;
    font-size: 16px;
    color: #454545;
    padding: 7px 0px 8px 16px;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown~.form__label {
    font-size: 17px;
    cursor: text;
    top: 12px;
}
.form__label {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    left: 16px;
    top: 2px;
    position: absolute;
    display: block;
    transition: 0.2s;
    color: #969696;
    pointer-events: none;
}
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 2px;
    border-image: linear-gradient(to right, #1D343E, #1D343E);
    border-image-slice: 1;
}
.form__field:focus~.form__label {
    position: absolute;
    top: 2px;
    display: block;
    transition: 0.2s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #1D343E;
}
.form__group__desplegable {
    position: relative;
    padding: 11px 0px 0px 0px;
    width: 100%;
    height: 48px;
    background-color: rgba(129, 147, 155, 10%);
    margin: 0px 0px 24px 0px;
}
.form__field__desplegable {
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid transparent;
    outline: 0;
    font-size: 17px;
    color: #454545;
    padding: 7px 0px 8px 16px;
    background: transparent;
    transition: border-color ease-in-out 0.2s;
}
.form__label__desplegable {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    left: 16px;
    top: 2px;
    position: absolute;
    display: block;
    transition: 0.2s;
    color: #969696;
    pointer-events: none;
}
.form__field__desplegable:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 2px;
    border-image: #1D343E;
    border-image-slice: 1;
}
.form__field__desplegable:focus~.form__label__desplegable {
    position: absolute;
    top: 2px;
    display: block;
    transition: 0.2s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #1D343E;
}
.form__group__desplegableDark {
    position: relative;
    width: 100%;
    height: 48px;
    background-color: rgba(129, 147, 155, 10%);
    margin: 0px 0px 24px 0px;
}
.form__field__desplegableDark {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 200;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid transparent;
    outline: 0;
    color: #FFFFFF;
    padding: 16px 0px 0px 16px;
    background: transparent;
    transition: border-color 0.2s;
}
.form__label__desplegableDark {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    left: 16px;
    top: 2px;
    position: absolute;
    display: block;
    transition: 0.2s;
    color: #969696;
    pointer-events: none;
}
.form__field__desplegableDark:focus {
    border-bottom: solid 2px #DBB100;
    color: #454545;
}
.form__field__desplegableDark:focus~.form__label__desplegableDark {
    position: absolute;
    top: 2px;
    left: 8px;
    display: block;
    transition: 0.2s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #DBB100;
}
.form__groupDarkIcon {
    position: relative;
    padding: 20px 0px 0px 0px;
    width: 100%;
    height: 48px;
    background-color: rgba(129, 147, 155, 10%);
    margin: 0px 0px 24px 0px;
}
.form__fieldDarkIcon {
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid transparent;
    outline: 0;
    font-size: 16px;
    color: #FFFFFF;
    padding: 7px 0px 8px 32px;
    background: transparent;
    transition: border-color 0.2s;
}
.form__fieldDarkIcon::placeholder {
    color: transparent;
}
.form__fieldDarkIcon:placeholder-shown~.form__labelDarkIcon {
    font-size: 17px;
    cursor: text;
    top: 12px;
}
.form__labelDarkIcon {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    left: 32px;
    top: 2px;
    position: absolute;
    display: block;
    transition: 0.2s;
    color: #969696;
    pointer-events: none;
}
.form__fieldDarkIcon:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 2px;
    border-image: linear-gradient(to right, #DBB100, #DBB100);
    border-image-slice: 1;
}
.form__fieldDarkIcon:focus~.form__labelDarkIcon {
    position: absolute;
    top: 2px;
    display: block;
    transition: 0.2s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #DBB100;
}
.form__fieldDarkIcon__img {
    position: absolute;
    left: 8px;
    bottom: 16px;
    filter: invert(76%) sepia(1%) saturate(13%) hue-rotate(338deg) brightness(79%) contrast(87%);
}
.form__fieldDarkIcon:focus~.form__fieldDarkIcon__img {
    bottom: 8px;
    transition: 0.2s;
    filter: invert(55%) sepia(97%) saturate(849%) hue-rotate(15deg) brightness(103%) contrast(103%);
}
@media (max-width: 1024px) {
    .h2-Light {
        font-size: 28px;
    }
    .h2-Dark {
        font-size: 28px;
    }
    .contenedorTitulo {
        width: 90%;
        margin: 0px 0px 48px 0px;
    }
    .header__nav_ul__li__a {
        font-size: 12px;
    }
    .header__nav_ul__li {
        margin-right: 12px;
    }
    .header__nav_ul__li-Btn {
        margin-left: 12px;
    }
    .header__nav {
        margin: 0px 40px 0px 40px;
    }
    .sectionBanner {
        margin: 96px 0px 64px 0px;
    }
    .sectionBanner__h1 {
        font-size: 32px;
        width: 90%;
    }
    footer {
        padding: 24px 0px 24px 0px;
    }
    .footer__div {
        width: 90%;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;
        margin: 0px 0px 32px 0px;
    }
    .footer__div__div {
        width: 100%;
        padding: 24px 0px 24px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-bottom: solid 1px #81939B;
    }
    .footer__ul {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer__nav {
        align-items: flex-start;
    }
}
@media (max-width: 768px) {
    .body_2-mobile {
        font-size: 12px;
    }
    .h2-Light {
        font-size: 24px;
    }

    .h2-Dark {
        font-size: 24px;
    }
    .contenedorTitulo {
        width: 90%;
        margin: 0px 0px 48px 0px;
    }
    .contenerdorCards {
        width: 90%;
    }
    .header__nav {
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 0px 20px 0px 20px;
    }
    .seleccionado {
        color: #C19C00;
        border-bottom: solid 0px #C19C00;
        cursor: default;
    }
    .header__nav_ul__li__a {
        font-size: 14px;
    }
    .lbl_Menu {
        display: block;
    }
    .header__nav_ul {
        background-color: #FFFFFF;
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: 100vh;
        padding: 56px 0px 0px 0px;
        transition: all 250ms linear;
        z-index: 1;
        border-top: #C19C00 solid 2px;
        flex-direction: column;
        align-items: center;
    }
    .header__nav_ul__li {
        margin: 0px 0px 32px 0px;
    }
    .header__nav_ul__li-Btn {
        margin-left: 0px;
    }
    #btn_Menu:checked~.header__nav_ul {
        left: 0;
    }
    .sectionBanner {
        margin: 80px 0px 64px 0px;
    }
    .sectionBanner__h1 {
        font-size: 24px;
        width: 90%;
    }
    .h3-Dark {
        font-size: 20px;
    }
    .body_1-Dark {
        font-size: 14px;
    }
}