/*-----------------------BANNER INICIAL-----------------------*/
.imgFondoBannerNovedades {
    width: 100%;
    height: 400px;
    background-image: url("../images/imagenesBanners/imagenBanner_Actualidad.png");
    background-position: bottom;
}

/*-----------------------CONTENEDOR SECCIÓN NOVEDADES-----------------------*/
.contenedorSeccionNovedades {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px;
}

/*-----------------------CARDS NOVEDADES-----------------------*/
.cardNovedades {
    background-color: #FFFFFF;
    width: 760px;
    display: flex;
    align-items: center;
    margin: 0px 0px 48px 0px;
}

.cardNovedades__div-img {
    position: relative;
    width: auto;
}

.cardNovedades__div-img__img {
    width: auto;
    height: auto;
}

.cardNovedades__div-img__p {
    position: absolute;
    top: 0px;
    left: 0px;
    width: fit-content;
    padding: 4px 8px 4px 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #C19C00;
}

.cardNovedades__div-txt {
    padding: 0px 24px 0px 24px;
    height: auto;
}

.cardNovedades__div-txt__lblFecha {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #969696;
    margin: 0px 0px 8px 0px;
}

.cardNovedades__div-txt__title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #1D343E;
    margin: 0px 0px 8px 0px;
}

.cardNovedades__div-txt__description {
    margin: 0px 0px 8px 0px;
}

.cardNovedades__div-txt__base {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardNovedades__div-txt__base__p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #969696;
    margin: 0px;
}

/*-----------------------SECCIÓN BUSQUEDA-----------------------*/
.formBusqueda {
    background-color: #1D343E;
    width: 360px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 24px 0px;
}

/*-----------------------SECCIÓN BUSQUEDA - INPUT-----------------------*/
.inputAreaSearch {
    position: relative;
    width: 80%;
    height: 48px;
    background-color: rgba(129, 147, 155, 10%);
    margin: 0px;
}

.inputAreaSearch__input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 200;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid transparent;
    outline: 0;
    color: #FFFFFF;
    padding: 16px 0px 0px 32px;
    background: transparent;
    transition: border-color 0.2s;
}

.inputAreaSearch__label {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    left: 32px;
    bottom: 12px;
    position: absolute;
    display: block;
    transition: 0.2s;
    color: #969696;
    pointer-events: none;
}

.inputAreaSearch__img {
    position: absolute;
    left: 8px;
    bottom: 16px;
    filter: invert(76%) sepia(1%) saturate(13%) hue-rotate(338deg) brightness(79%) contrast(87%);
}

.inputAreaSearch__input:focus {
    font-weight: 700;
    border-bottom: solid 2px #DBB100;
}

.inputAreaSearch__input:focus~.inputAreaSearch__label {
    position: absolute;
    top: 2px;
    left: 8px;
    display: block;
    transition: 0.2s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #DBB100;
}

.inputAreaSearch__input:focus~.inputAreaSearch__img {
    bottom: 8px;
    transition: 0.2s;
    filter: invert(55%) sepia(97%) saturate(849%) hue-rotate(15deg) brightness(103%) contrast(103%);
}

/*-----------------------SECCIÓN FILTROS-----------------------*/
.seccionFiltros {
    background-color: #1D343E;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 48px 0px;
}

.tituloFiltros {
    width: 80%;
    margin: 32px 0px 0px 0px;
}

.seccionFiltros__div {
    width: 80%;
}

.seccionFiltros__div__titulo {
    border-bottom: #969696 solid 2px;
    margin: 32px 0px 16px 0px;
}

.seccionFiltros__div__titulo__p {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #969696;
    margin: 0px 0px 4px 0px;
}

.seccionFiltros__div__form {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.contenedorCheckBoxNovedades {
    display: flex;
    align-items: center;
    margin: 0px 0px 16px 0px;
}

@media (max-width: 1430px) {

    /*-----------------------SECCIÓN FILTROS-----------------------*/
    .seccionFiltros {
        display: none;
    }

    .formBusqueda {
        display: none;
    }

    /*-----------------------CONTENEDOR SECCIÓN NOVEDADES-----------------------*/
    .contenedorSeccionNovedades {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /*-----------------------CARDS NOVEDADES-----------------------*/
    .cardNovedades {
        background-color: #FFFFFF;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0px 0px 48px 0px;
    }

}

/*-----------------------TABLET-----------------------*/
@media (max-width: 1024px) {

    /*-----------------------CONTENEDOR SECCIÓN NOVEDADES-----------------------*/
    .contenedorSeccionNovedades {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
    }
}

/*-----------------------MOBILE-----------------------*/
@media (max-width: 768px) {

    /*-----------------------BANNER INICIAL-----------------------*/
    .imgFondoBannerNovedades {
        width: 100%;
        height: 248px;
        background-image: url("../images/imagenesBanners/imagenBanner_Actualidad_Mobile.png");
        background-position: bottom;
    }

    /*-----------------------CARDS NOVEDADES-----------------------*/
    .cardNovedades {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .cardNovedades__div-img {
        width: 100%;
        height: auto;
    }

    .cardNovedades__div-img__img {
        width: 100%;
        height: auto;
    }

    .cardNovedades__div-txt {
        padding: 24px;
    }

}