/*-----------------------BANNER INICIAL-----------------------*/
.imgFondoBannerNovedades {
    width: 100%;
    height: 400px;
    background-image: url("../images/imagenesBanners/imagenBanner_Actualidad.png");
    background-position: bottom;
}